@font-face {
	font-family: "RobotoRegular";
	src: url("/fonts/RobotoRegular/RobotoRegular.eot");
	src: url("/fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("/fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../public/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: "NautilusPompiliusRegular";
    src: url("/fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot");
    src: url("/fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot?#iefix")format("embedded-opentype"),
    url("/fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.woff") format("woff"),
    url("/fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	background-color: #dbe2ec !important;
}

.active {
	color: rgb(128, 126, 235);
}
.formError {
	border-bottom: 2px solid red;
}

.authorizationInput {
	margin: 10px;
  width: 400px;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  font-size: 20px;
}
.authorizationInput:focus {
	border-bottom: 2px solid rgb(128, 126, 235);
}
.inputError p {
	width: 400px;
	color: rgb(280, 0, 90);
}
